@tailwind base;
@tailwind components;
@tailwind utilities;

.code-line {
  @apply pl-1;
}

span.code-line {
  @apply inline-block w-full;
}

.highlighted-code-line {
  background-color: theme('colors.white' / 10%);
}

.code-snippet {
  @apply relative;
}

.code-snippet-title {
  @apply px-3 pb-2 mb-2 border-b border-white border-opacity-10 text-xs;
}

.copy-code-snippet {
  @apply top-2 right-3 absolute text-xs px-3 py-0.5 min-w-20 rounded inline-flex
    items-center justify-center from-neutral-500 to-neutral-600 bg-gradient-to-b
    text-neutral-100 shadow-bezel hover:from-neutral-600 hover:to-neutral-700
    active:from-neutral-700 active:to-neutral-800 disabled:from-neutral-100
    disabled:to-neutral-100 disabled:shadow-none disabled:text-neutral-400
    print:hidden;
}

.copy-code-snippet.copied {
  /* purposely ignored */
}

.collection-heading {
  @apply flex items-center;
}

/*
.collection-image {}
*/

.collection-heading button {
  @apply ml-2 invisible;
}

.collection-heading:hover button {
  @apply visible;
}

.numbered-code-line::before {
  content: attr(data-line-number);
  @apply pr-3 w-10 text-right inline-block;
}

:root {
  --color-text: theme('colors.gray.300');
  --color-background: transparent;
  --color-keyword: theme('colors.red.400');
  --color-entity: theme('colors.purple.300');
  --color-constant: theme('colors.blue.300');
  --color-string: theme('colors.blue.200');
  --color-variable: theme('colors.orange.400');
  --color-comment: theme('colors.gray.500');
  --color-entity-tag: theme('colors.green.400');
  --color-storage-modifier: theme('colors.gray.300');
  --color-markup-heading: theme('colors.blue.600');
  --color-markup-list: theme('colors.yellow.400');
  --color-markup-italic: theme('colors.gray.300');
  --color-markup-bold: theme('colors.gray.300');
  --color-markup-inserted: theme('colors.green.300');
  --color-markup-deleted: theme('colors.red.100');
}

.hljs {
  color: var(--color-text);
  background: var(--color-background);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--color-keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--color-entity);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--color-constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--color-string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--color-variable);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--color-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--color-entity-tag);
}

.hljs-subst {
  color: var(--color-storage-modifier);
}

.hljs-section {
  color: var(--color-markup-heading);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--color-markup-list);
}

.hljs-emphasis {
  color: var(--color-markup-italic);
  font-style: italic;
}

.hljs-strong {
  color: var(--color-markup-bold);
  font-weight: bold;
}

.hljs-addition {
  color: var(--color-markup-inserted);
}

.code-line.inserted {
  background-color: #16a34a55;
}

.hljs-deletion {
  color: var(--color-markup-deleted);
}

.code-line.deleted {
  background-color: #dc262655;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

@layer utilities {
  .text-default {
    @apply text-zinc-800 dark:text-zinc-100;
  }
  .text-default-secondary {
    @apply text-zinc-600 dark:text-zinc-400;
  }
  .text-primary {
    @apply text-jade-400 dark:text-jade-600;
  }
  .border-default {
    @apply border-zinc-100 dark:border-zinc-700/40;
  }
}
